<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <api>
            <GraphQL>
                <endpoints>
                    <mfja url="/sitecore/api/graph/mfja" type="Sitecore.Services.GraphQL.Hosting.GraphQLEndpoint, Sitecore.Services.GraphQL.NetFxHost" resolve="true">
                        <url>$(url)</url>
                        <enableSubscriptions>false</enableSubscriptions>
                        <!-- lock down the endpoint when deployed to content delivery -->
                        <graphiql role:require="ContentDelivery">false</graphiql>
                        <enableSchemaExport role:require="ContentDelivery">false</enableSchemaExport>
                        <enableStats role:require="ContentDelivery">false</enableStats>
                        <enableCacheStats role:require="ContentDelivery">false</enableCacheStats>
                        <disableIntrospection role:require="ContentDelivery">true</disableIntrospection>

                        <schema hint="list:AddSchemaProvider">
                            <content ref="/sitecore/api/GraphQL/defaults/content/schemaProviders/edgeContent" param1="master" role:require="ContentManagement"/>
                            <content ref="/sitecore/api/GraphQL/defaults/content/schemaProviders/edgeContent" param1="web" role:require="ContentDelivery"/>
                            <content ref="/sitecore/api/GraphQL/defaults/content/schemaProviders/edgeContent" param1="context" role:require="Standalone"/>
                        </schema>

                        <!-- Determines the security of the service. Defaults are defined in Sitecore.Services.GraphQL.config -->
                        <security ref="/sitecore/api/GraphQL/defaults/security/publicService" />

                        <!-- Determines how performance is logged for the service. Defaults are defined in Sitecore.Services.GraphQL.config -->
                        <performance ref="/sitecore/api/GraphQL/defaults/performance/standard" />

                        <!--
                            Cache improves the query performance by caching parsed queries.
                            It is also possible to implement query whitelisting by implementing an authoritative query cache;
                            WhitelistingGraphQLQueryCache is an example of this, capturing queries to files in open mode and allowing only captured queries in whitelist mode.
                        -->
                        <cache type="Sitecore.Services.GraphQL.Hosting.QueryTransformation.Caching.GraphQLQueryCache, Sitecore.Services.GraphQL.NetFxHost">
                            <param desc="name">$(url)</param>
                            <param desc="maxSize">10MB</param>
                        </cache>

                    </mfja>
                </endpoints>
            </GraphQL>
        </api>
    </sitecore>
</configuration>
